body, div, p, span, table, table th, table td, ul, li {
	margin: 0;
	border: 0;
	padding: 0;
}
body, div, p, span, table, table th, table td, ul, li, input, option, h1, h2, h3 {
	box-sizing: border-box;
	font-family: arial, sans-serif;
	font-size: 16px;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 22px;
}
html,
body {
	width: 100%;
	height: 100%;
}
ul li {
	list-style: none;
}
/*------------------------------------------------------------*/
/* 入力欄 */
/*------------------------------------------------------------*/
input[type="text"] {
	width: 12em;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 16px;
}
/*------------------------------------------------------------*/
/* スクロール領域 */
/*------------------------------------------------------------*/
.scroll_wrapper {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: auto;
}
/*------------------------------------------------------------*/
/* 寄せ */
/*------------------------------------------------------------*/
.align_right {
	text-align: right;
}
/*------------------------------------------------------------*/
/* ボタン */
/*------------------------------------------------------------*/
.button {
  display: inline-block;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button {
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
}
.button:hover {
  border-color: #59b1eb;
  background-color: #fff;
  color: #59b1eb;
}
.button.mini {
	padding: 4px 6px;
	font-size: 12px;
}
/*------------------------------------------------------------*/
/* リスト */
/*------------------------------------------------------------*/
.header {
	width: 100%;
	text-align: center;
	background-color: #222222;
	overflow: auto;
}
.header ul {
	display: block;
	overflow: auto;
	white-space: nowrap;
	font-size: 0;
}
.header ul li {
	display: inline-block;
	min-width: 25%;
	border-left: 1px solid #222;
	list-style: none;
}
.header ul li:first-child {
	border-left: 0;
}
.header ul li a {
	display: block;
	padding: 16px 20px;
	background-color: #6A6E76;
	color: white;
	text-decoration: none;
}
.header ul li a:hover {
	background-color: #333333;
}
/*------------------------------------------------------------*/
/* コンテンツ */
/*------------------------------------------------------------*/
.contents {
	width: 100%;
	padding: 0;
	overflow: auto;
}
/*------------------------------------------------------------*/
/* 見出し */
/*------------------------------------------------------------*/
h2 {
	margin-bottom: 1px;
	border-left: 5px solid #000000;
	padding: 4px 8px;
	background-color: #5F5F5F;
	color: #FFFFFF;
	font-size: 1.2em;
}
/*------------------------------------------------------------*/
/* ボタンエリア */
/*------------------------------------------------------------*/
.button_area {
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.button_area > div {
	padding-bottom: 10px;
}
/*------------------------------------------------------------*/
/* ボタン */
/*------------------------------------------------------------*/
.button_base {
	display: inline-block;
	border-radius: 4px;
	border-bottom: 2px solid #787878;
	padding: 5px 25px;
	background-color: #C1C1C1;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.button_base:hover {
	background-color: #A8A8A8;
}
.button_base:active {
	background-color: #787878;
}
.button_base.button_mini {
	border-bottom: 2px solid #787878;
	padding: 2px 15px;
	font-size: 14px;
}
/*------------------------------------------------------------*/
/* アコーディオン */
/*------------------------------------------------------------*/
.accordion_wrapper {
	display: none;
}
/*------------------------------------------------------------*/
/* ユーザー一覧 */
/*------------------------------------------------------------*/
ul.name_with_icon_list {
	display: block;
	width: 100%;
	word-break: break-all;
}
ul.name_with_icon_list li {
	display: inline-block;
	position: relative;
	min-width: 5em;
	margin-top: 1em;
	margin-left: 1em;
	border-radius: 4px;
	border: 2px solid #ccc;
	text-align: center;
	overflow: hidden;
}
ul.name_with_icon_list li img {
	display: inline-block;
	max-width: 8em;
	width: 100%;
}
ul.name_with_icon_list li .item_name {
	display: block;
	width: 100%;
	padding: 0.3em;
	white-space: nowrap;
	text-align: center;
}
/*------------------------------------------------------------*/
/* プレイヤー 死亡状態 */
/*------------------------------------------------------------*/
ul.name_with_icon_list li.dead:after {
	position: absolute;
	content: "";
	display: inline-block;
	top: 0;
	left: -0.4em;
	width: 128px;
	height: 128px;
	transform: rotate(-45deg);
	border-top: 15px solid #000;
	border-right: 15px solid #000;
}
ul.name_with_icon_list li.dead img {
	filter: grayscale(100%);
	opacity: 0.75;
}
/*------------------------------------------------------------*/
/* プレイヤー 選択完了状態 */
/*------------------------------------------------------------*/
ul.name_with_icon_list li.selected {
	opacity: 0.5;
}
ul.name_with_icon_list li.selected {
	position: absolute;
	top: 0;
	left: 0;
	content: "選択完了";
	display: inline-block;
	border: 2px solid #aaf;
	border-radius: 2px;
	font-size: 16px;
	color: #aaf;
	background-color: #333;
}
/*------------------------------------------------------------*/
/* 情報表示欄 */
/*------------------------------------------------------------*/
.info_area {
	padding: 0.3em;
}
/*------------------------------------------------------------*/
/* タイマー */
/*------------------------------------------------------------*/
#timer {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}
/*------------------------------------------------------------*/
/* ゲームメッセージ */
/*------------------------------------------------------------*/
#gameMessage {
	text-align: center;
}
#gameMessage .mainMessage {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
}
#gameMessage .subMessage {
	display: inline-block;
	padding-left: 1em;
	font-size: 14px;
	text-align: left;
}
